* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}


body {

    background-color: #360153;
    color: #F4EFFA;
    position: relative;
    
}

    
div, img {

    position: absolute;
    width: 87px;
    height: auto;
    left: 0;
    top: 21px;
    background: url(/assets/img/logo.png);

}

#boton {

    position: absolute;
    width: 174px;
    height: 57px;
    left: 1033px;
    top: 46px;
    background-color: transparent;
    border-color: #F4EFFA;
    border-radius: 10px;
    border-style: double;
    color: #F4EFFA;
}

  header {
    
    position: absolute;
    width: 1133px;
    height: 107px;
    left: 107px;
    top: 21px;
    text-align: center;
    
 }

 
 ul {

    position: absolute;
    width: 503px;
    height: 19px;
    left: 389px;
    top: 65px;
    word-spacing: 87px;
    
 }


   footer {

       display: grid;
       grid-template-columns: 30% 15% 15% 20%;
       column-gap: 5%;
       padding: 1rem;
       margin: 2rem auto;
       flex-flow: column;
       position: absolute;
       width: 1520px;
       height: 368px; 
       left: 0px;
       top: 3011px;
       background: rgba(89, 46, 131, 0.6);
       word-spacing: 107px;
       text-align: center;
  
  }

  
  #Redes, span {
    
    font: optional;
    size: 20px;
    line-height: 24.2px;
    text-align: center;
  
}

  

  





